.bodyMaintenance{
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --background: #f2f2f2;
    padding: 20px;
    height: 100%;
    ion-list{
        background: transparent !important;
        ion-item{
            --background: transparent !important;
            ion-checkbox{
                --background-checked: #c1c1c1;
                --border-color-checked: #c1c1c1;
            }
        }
    }
   
}

.modal-footer{
    padding: 20px;
    background-color: #f2f2f2;
    .btnSave{
        --background: var(--cyan);
        --background-focused: var(--cyan);
        --background-hover: var(--cyan);
        --background-activated: var(--cyan);
        width: 100%;
    }
}