<ion-content class="bodyMaintenance">
  <div>
    <ion-list>
      <ion-item mode="ios" lines="none">
        <ion-label>Cambio de aceite</ion-label>
        <ion-checkbox  mode="ios" slot="start"></ion-checkbox>
      </ion-item>
      <ion-item mode="ios" lines="none">
        <ion-label>Filtro de gasolina</ion-label>
        <ion-checkbox  mode="ios" slot="start"></ion-checkbox>
      </ion-item>
      <ion-item mode="ios" lines="none">
        <ion-label>Filtro de aceite</ion-label>
        <ion-checkbox  mode="ios" slot="start"></ion-checkbox>
      </ion-item>
      <ion-item mode="ios" lines="none">
        <ion-label>Correa de tiempo</ion-label>
        <ion-checkbox  mode="ios" slot="start"></ion-checkbox>
      </ion-item>
      <ion-item mode="ios" lines="none">
        <ion-label>Otros</ion-label>
        <ion-checkbox  mode="ios" slot="start"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer class="modal-footer">
  <ion-button ion-button class="btnSave">Guardar</ion-button>
</ion-footer>