<ion-header class="navbar">
    <ion-toolbar>
      <ion-title>Detalles</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="bodyDetails">
      <ion-list lines="none">
        <ion-item mode="ios" no-padding>
          <ion-label>Cambio de aceite</ion-label>
         <ion-icon name="checkmark-circle"></ion-icon>
        </ion-item>
        <ion-item mode="ios" no-padding>
          <ion-label>Filtro de gasolina</ion-label>
          <ion-icon name="checkmark-circle"></ion-icon>
        </ion-item>
        <ion-item mode="ios" no-padding>
          <ion-label>Filtro de aceite</ion-label>
          <ion-icon name="checkmark-circle"></ion-icon>
        </ion-item>
        <ion-item mode="ios" no-padding>
          <ion-label>Correa de tiempo</ion-label>
          <ion-icon name="checkmark-circle"></ion-icon>
        </ion-item>
        <ion-item mode="ios" no-padding>
          <ion-label>Otros</ion-label>
          <ion-icon name="checkmark-circle"></ion-icon>
        </ion-item>
  
      </ion-list>
    </div>
  </ion-content>
  