<ion-header class="navbar">
    <ion-toolbar>
      <ion-title>Detalles</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="bodyRecord">
      <ion-list lines="none">
        <ion-item no-padding>
          <ion-label>Desde</ion-label>
          <p>26/12/2019</p>
        </ion-item>
        <ion-item no-padding>
          <ion-label>Hasta</ion-label>
          <p>01/03/2020</p>
        </ion-item>
        <ion-item no-padding>
          <ion-label>Conductor asignado</ion-label>
          <p>Jose Perez</p>
        </ion-item>
        <ion-item no-padding>
          <ion-label>Kilometraje</ion-label>
          <p>753 KM</p>
        </ion-item>
        <ion-item no-padding>
          <ion-label>Etc</ion-label>
          <p>...</p>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  