


<ion-content class="ModalDocs">
    <div class="body">
      <ion-list>
          <ion-item class="ion-no-padding" lines="none"> 
            <ion-label mode="" position="stacked">Marca</ion-label>
            <ion-input type="text" placeholder=""></ion-input>
          </ion-item>
        <ion-item class="ion-no-padding" lines="none"> 
          <ion-label mode="" position="stacked">Modelo</ion-label>
          <ion-input type="text" placeholder=""></ion-input>
        </ion-item>
        <ion-item class="ion-no-padding" lines="none"> 
          <ion-label mode="" position="stacked">Placa</ion-label>
          <ion-input type="text" placeholder=""></ion-input>
        </ion-item>
        <ion-item class="ion-no-padding" lines="none"> 
          <ion-label mode="" position="stacked">Color</ion-label>
          <ion-input type="text" placeholder=""></ion-input>
        </ion-item>
        <ion-radio-group>
          <ion-list-header>
            <ion-label>Tipo</ion-label>
          </ion-list-header>
          <ion-item >
            <ion-label>Carro</ion-label>
            <ion-radio mode="md" slot="end" value="1" checked></ion-radio>
          </ion-item>
          <ion-item >
            <ion-label>Moto</ion-label>
            <ion-radio mode="md" slot="end" value="2"></ion-radio>
          </ion-item>
          <ion-item >
            <ion-label>Bus</ion-label>
            <ion-radio mode="md" slot="end" value="3"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Camión</ion-label>
            <ion-radio mode="md" slot="end" value="4"></ion-radio>
          </ion-item>
          <ion-item class="ion-no-padding" lines="none">
            <ion-label mode="" position="stacked">Capacidad de carga</ion-label>
            <ion-input type="number" placeholder=""></ion-input>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>
  </ion-content>
  <ion-footer class="modal-footer">
    <ion-button class="create">Crear</ion-button>
  </ion-footer>
    
  