<ion-header class="navbar">
  <ion-toolbar>
    <ion-title>Detalles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bodyRecord">
    <ion-list lines="none">
      <ion-item no-padding>
        <ion-label>Marca</ion-label>
        <p>Wolsvagen</p>
      </ion-item>
      <ion-item no-padding>
        <ion-label>Modelo</ion-label>
        <p>Fox</p>
      </ion-item>
      <ion-item no-padding>
        <ion-label>Color</ion-label>
        <p>Gris</p>
      </ion-item>
      <ion-item no-padding>
        <ion-label>Fecha de mantenimiento</ion-label>
        <p>23/12/2019</p>
      </ion-item>
      <ion-item no-padding>
        <ion-label>Etc</ion-label>
        <p>...</p>
      </ion-item>

    </ion-list>
  </div>
</ion-content>
