.footHeader{
    background-color: #f2f2f2;
    .infoCard{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        height: 50px;
        img{
            height: 50px;
        }
        h5{
            color: var(--cyan);
            margin-left: 10px;
            font-family: "Nunito", sans-serif;
        }
    }
    ion-segment{
        ion-segment-button{
            --line-height: 20px;
            min-height: 34px;
            background-color: #fff;
            --color-checked: none;  
            border-right: 2px solid #c1c1c1;
            &:last-child{
                border-right: none;
            }
            ion-label{
                color: #000;
                margin-top: 0 !important;
                margin-bottom: 0 !important;
                text-transform: Capitalize;
                font-family: "Nunito", sans-serif;
                letter-spacing: 0;
                font-size: 16px;
                @media (max-width: 340px){
                    font-size: 13px;
                }
            }
        }
        ion-segment-button.segment-button-checked{
            background-color: #f2f2f2 !important;
            --border-color: transparent;
        }
    }
}
.item-inner {
    padding-right: 0px!important;
 }
.bodyContent{
    padding: 20px;
    .bodySegment{
        //First segment
        .body{
            ion-list{
                background: transparent;
                ion-item{
                    --padding-start: 0px;
                    --padding-end: 0px;
                    --inner-padding-end: 0px;
                    --padding-start:0px;
                    margin-bottom: 10px;
                    --background: transparent;

                    ion-label{
                        font-size: 16px;
                        margin-bottom: 5px;
                        transform: none;
                        color: #000;
                    }
                    ion-input{
                        border: 1px solid #c1c1c1;
                        padding-inline-start: var(--padding-start);
                        --padding-end: 15px;
                        --padding-start: 15px;
                        --padding-top: 5px;
                        --padding-bottom: 5px;
                        background: #fff;
                        border-radius: 10px;
                        font-size: 14px;
                        color: #666;
                        input{
                            padding: 0; 
                        }
                    }
                }
                ion-item.ion-focusable{
                    --border-color: transparent;
                    ion-label{
                        color: #000 !important;
                    }
                    ion-input{
                        --border-bottom: none !important;
                    }

                }
            }
            .btnMore{
                background-color: transparent;
                width: 32px;
                height: 22px;
                background-color: #777;
                font-size: 29px;
                color: #fff;
                padding: 0;
                line-height: 22px;
                margin-left: 5px;
                margin-top: 30px;
            }
        }
         //second segment
         .documents{
             .item{
                display:flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid #8e8e8e;
                border-radius: 10px;
                padding: 5px;
                margin-bottom: 10px;
                height: 34px;
                img{
                    width: 25px;
                    position: relative;
                    right: 0;
                    transform: scale(3);
                }
                h5{
                    margin: 0;
                    color: #000;
                    max-width: 100%;
                    width: calc(100% - 25px);
                    padding: 0 5px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 16px;
                }
             }

             
         }

         // third segment
         .mantenimiento{
            .item{
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                img{
                    width: 25px;
                    height: 25px;
                    transform: scale(3);
                }
                h5{
                    margin: 0;
                    margin-left: 5px;
                    color: #000;
                    font-size: 18px;    
                }
            }
         }
    }

    ion-fab{
        position: fixed;
        bottom: 30px;
        right: 30px;
        ion-fab-button{
            font-size: 40px;
            --background: var(--primary);
            --background-activated: var(--primary);
            --background-focused: var(--primary);
        }
        ion-fab-button.activated{
            --background: var(--primary);   
        }
    }

    ion-fab.activated{
        background-color:var(--primary);
    }
}