//First segment
.bodyRevision{
    --background: #f2f2f2;
    .bodyy{
        padding: 20px;
        .separateTitle{
            /* background-color: #f9f9f9; */
            color: var(--primary);
            font-weight: bold;
            border-bottom: 1px solid;
            padding-bottom: 8px;
            margin-bottom: 20px;
            margin-top: 0;
        }
        ion-list{
            background: transparent;
            .items{
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 20px;
                ion-label{
                    width: 80%;
                    margin-top: 5px;
                    color: rgb(141, 131, 131);
                    font-size: 15px;
                    padding-right: 15px;
                }
                ion-checkbox{
                    text-align: right;
                    float: right;
                    display: block;
                    margin-left: auto;
                    --background-checked: var(--cyan);
                }
                ion-toggle{
                    /* width: 20%; */
                    max-width: 20%;
                    --background-checked: var(--cyan);
                }
                .textareaEdit{
                    margin-top: 10px;
                    width: 100%;
                    border: 1px solid #c1c1c1;
                    border-radius: 5px;
                    textarea{
                        padding: 8px;
                        font-size: 12px;
                    }
                }
            }
            ion-item{
                --padding-start: 0px;
                --padding-end: 0px;
                --inner-padding-end: 0px;
                --padding-start:0px;
                margin-bottom: 10px;
                --background: transparent;

                .textareaEdit{

                }
    
                ion-label{
                    font-size: 16px;
                    margin-bottom: 5px;
                    transform: none;
                    color: #000;
                }
                ion-input{
                    border: 1px solid #c1c1c1;
                    padding-inline-start: var(--padding-start);
                    --padding-end: 15px;
                    --padding-start: 15px;
                    --padding-top: 5px;
                    --padding-bottom: 5px;
                    background: #fff;
                    border-radius: 10px;
                    font-size: 14px;
                    color: #666;
                    input{
                        padding: 0; 
                    }
                }
            }
            ion-item.ion-focusable{
                --border-color: transparent;
                ion-label{
                    color: #000 !important;
                }
                ion-input{
                    --border-bottom: none !important;
                }
    
            }
        }
        .btnMore{
            background-color: transparent;
            width: 32px;
            height: 22px;
            background-color: #777;
            font-size: 29px;
            color: #fff;
            padding: 0;
            line-height: 22px;
            margin-left: 5px;
            margin-top: 30px;
        }
    }
}
.modal-footer2{
    padding: 20px;
    background-color: #f2f2f2;
    .btnSave{
        --background: var(--cyan);
        --background-focused: var(--cyan);
        --background-hover: var(--cyan);
        --background-activated: var(--cyan);
        width: 100%;
    }
    .activated{

    }
}