<ion-content class="bodyRevision">
    <div class="bodyy">
        <ion-list>
          <ion-item class="ion-no-padding" lines="none"> 
              <ion-label mode="" position="stacked">Desde</ion-label>
              <ion-input type="date" placeholder="18 de Noviembre 2019"></ion-input>
          </ion-item>
          <ion-item class="ion-no-padding" lines="none"> 
              <ion-label mode="" position="stacked">Hasta</ion-label>
              <ion-input type="date" placeholder="18 de Noviembre 2019"></ion-input>
          </ion-item>
          <ion-item class="ion-no-padding" lines="none"> 
              <ion-label mode="" position="stacked">Conductor asignado</ion-label>
              <ion-input placeholder="Michael Shumacher"></ion-input>
          </ion-item>
          <ion-item class="ion-no-padding" lines="none"> 
              <ion-label mode="" position="stacked">Kilometraje</ion-label>
              <ion-input type="number" placeholder="200.000"></ion-input>
          </ion-item>
        </ion-list>
    </div>
</ion-content>
<ion-footer class="modal-footer2">
    <ion-button ion-button class="btnSave">Guardar</ion-button>
</ion-footer>