<ion-content class="ModalDocs">
    <div class="body">
      <ion-list >
        <ion-item class="ion-no-padding" lines="none"> 
          <ion-label mode="" position="stacked">Nombre</ion-label>
          <ion-input type="text" placeholder=""></ion-input>
        </ion-item>
        <ion-item class="ion-no-padding" lines="none"> 
          <ion-label mode="" position="stacked">Apellido</ion-label>
          <ion-input type="text" placeholder=""></ion-input>
        </ion-item>
        <ion-item class="ion-no-padding" lines="none"> 
          <ion-label mode="" position="stacked">Fecha de nacimiento</ion-label>
          <ion-input type="text" placeholder=""></ion-input>
        </ion-item>
        <ion-item class="ion-no-padding" lines="none"> 
          <ion-label mode="" position="stacked">Fecha de expedición</ion-label>
          <ion-input type="text" placeholder=""></ion-input>
        </ion-item>
        <ion-item class="ion-no-padding" lines="none"> 
          <ion-label mode="" position="stacked">Tipo de sangre</ion-label>
          <ion-input type="text" placeholder=""></ion-input>
        </ion-item>
        <ion-item class="ion-no-padding" lines="none"> 
          <ion-label mode="" position="stacked">Documento de identidad</ion-label>
          <ion-input type="text" placeholder=""></ion-input>
        </ion-item>
        <ion-item class="ion-no-padding" lines="none"> 
          <ion-label mode="" position="stacked">Número de licencia</ion-label>
          <ion-input type="number" placeholder=""></ion-input>
        </ion-item>
        <ion-item class="ion-no-padding" lines="none"> 
          <ion-label mode="" position="stacked">Tipo de licencia</ion-label>
          <div class="dflex">
            <ion-input type="text" placeholder=""></ion-input>
            <ion-button class="btnMore">+</ion-button>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <ion-footer class="modal-footer">
    <ion-button class="create">Crear</ion-button>
  </ion-footer>
  
  
  